<head>
  <title>zzBase</title>
</head>

<template name="userLayout">
	<div id="top"></div>
	<div class="user-layout">
    
	{{> user_menu }}
    
      <div id="main" class="container standardWidth">
      	{{> user_header }}
        <div class="user-container {{ removesidebar }}">
        	{{> yield }}
        </div>
        {{> user_sidebar }}
      </div>
      <div class="clear"></div>
      <div id="footer-spacer">
      	{{> user_footer }}
      </div> 
      
      
	</div>
    
</template>

<template name="loginLayout">
	<div class="center-760">
<!-- 	{{> headerlogin }} -->
      <div id="main" class="container standardWidth">
        {{> yield }}
      </div>
	</div>  
</template>

<template name="mainLayout">
  {{> layout }}
</template>

<template name="main">
  <div id="main" class="container standardWidth">
    {{> header }}
    <div class="row">
      <div id="content" class="col-lg-12">
        {{> yield }}
      </div>
    </div>
    
  </div>
  {{> footer }}
  
</template>

<template name="noLayout">
  {{> yield }}
</template>

<template name="notFound">
  <div style="width: 100%; text-align: center; margin-top: 80px;">
    <h1>Oops...</h1>
    That page is not found. <br><br>
    <a href="/">Go Back</a>
  </div>
</template>

<template name="invalidTemplate">
    <h1>Invalid Template</h1>
    No template data found. {{ this }}
</template>

<template name="loading">
  Loading...
</template>

<template name="main2">
  This is the main2 layout:
  {{> yield }}
</template>