<template name="user_sidebar">
	<div class="user-sidebar {{ removesidebar }}">
    	
        <div class="sidebar-box-wrapper user-search">
        	<h3>
            	zzBase Help
            </h3>
            <div class="sidebar-box-content">
            	<p>Enter the keyword for your search.</p>
                <form>
                	<input type="text" name="search" id="search" />
                    <button class="btn btn-custom-darken">Go</button>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
        
        <div class="sidebar-box-wrapper user-tips">
        	<h3>
            	zzBase Tips!
            </h3>
            <div class="sidebar-box-content">
            	<h4>What is zzBase?</h4>
                <div align="center">
                	<img src="/images/zzbase-filling-cab-2.png" />
                </div>
                <p>
                	zzBase is a super-easy online database that integrates your technology to work the way you do.  Our goal is to give every user the super-powers that programmers have without the need to learn how to write code!
                </p>
            </div>
        </div>
        
    </div>
</template>
