.desktop_icon img{
  margin-top: 12px;
  margin-bottom: 6px;
}

.gridsterlist li {
  background-color: #fff;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 1px;
  list-style-type: none;
}

/*.gridsterlist input{
  margin-top: 4px;
}*/