#preloadedImages
{
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url(/images/online.png);
  background-image: url(/images/offline.png);
}

#footer{
  max-width:960px;
  margin:30px auto;	
  clear: both;
  font-size: 14px;
  color: #bebebe;
}

.left-footer { float:left; width:800px }
.left-footer ul { padding:0; margin:0; list-style:none; margin-bottom:5px; }

.left-footer ul li { padding:0 15px; margin:0; display:inline-block; background:url(/images/pipe_footer.png) no-repeat right; }
.left-footer ul li:first-of-type { padding-left:0 }
.left-footer ul li:last-of-type { padding-right:0; background:none }
.left-footer ul li a { color:#989898 }

.right-footer { float:right; width:120px }
.right-footer ul { padding:0; margin:0; list-style:none }
.right-footer ul li { padding:0; margin:0 5px 0 0; display:inline-block }
.right-footer ul li:last-of-type { margin-right:0 }

.right-footer ul li a { text-indent:-3000px; overflow:hidden; width:21px; height:21px; display:inline-block }
.right-footer ul li a.fb { background:url(/images/icons/icon_fb.png) no-repeat center center; }
.right-footer ul li a.twitter { background:url(/images/icons/icon_twitter.png) no-repeat center center; }
.right-footer ul li a.linkedin { background:url(/images/icons/icon_linkedin.png) no-repeat center center; }
.right-footer ul li a.youtube { background:url(/images/icons/icon_youtube.png) no-repeat center center; }