.desktop_icon{
  width: 80px;
  height: 80px;

  /*border-style: solid;
  border-width: 2px;
  border-color: #bebebe;
  background-color: #f5f5f5;
  border-radius: 9px;*/
}
.desktop_icon img{
  margin-top: 12px;
  margin-bottom: 6px;
}

.gridsterdesktop li{
  background-color: #fff;

  border-style: solid;
  border-color: #e7e7e7;
  border-width: 2px;
  list-style-type: none;

  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  text-align: center;
  font-size: 16px;
}

.gridsterdesktop li img{
  margin-top: 13px;
  margin-bottom: 4px;
}