<template name="user_menu">
	<div class="user-menu">
      <ul>
        <li><a href="/dashboard" class="{{active '/dashboard'}}"><img src="/images/icons/icon-dashboard.png" /><br />Dashboard</a></li>
        <li><a href="/pages" class="{{active '/pages'}}"><img src="/images/icons/icon-pages.png" /><br />Pages</a></li>
        <li><a href="/processes" class="{{active '/processes'}}"><img src="/images/icons/icon-processes.png" /><br />Processes</a></li>
        <li><a href="/data" class="{{active '/data'}}"><img src="/images/icons/icon-data.png" /><br />Data</a></li>
        <li><a href="/integrations" class="{{active '/integrations'}}"><img src="/images/icons/icon-integrations.png" /><br />Integrations</a></li>
        <li><a href="/reports" class="{{active '/reports'}}"><img src="/images/icons/icon-reports.png" /><br />Reports</a></li>
        <li><a href="/users" class="{{active '/users'}}"><img src="/images/icons/icon-users.png" /><br />Users</a></li>
        <li><a href="/roles" class="{{active '/roles'}}"><img src="/images/icons/icon-roles.png" /><br />Roles</a></li>
        <li><a href="/billing" class="{{active '/billing'}}"><img src="/images/icons/icon-billing.png" /><br />Billing</a></li>
      </ul>
	</div>
</template>
