<template name="view">
  <h1>{{ record.name }}</h1>
  <form role="form" class="form-horizontal">
    {{#each arrayify record }}
    <div class="form-group">
      <label for="field_{{ name }}" class="col-sm-3 control-label">{{ name }}</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="field_{{ name }}" placeholder="" value="{{ value }}">
      </div>
      <div class="col-sm-3">
        <!-- you can put some icons or stuff here -->
      </div>
    </div>
    {{/each}}
  </form>
  <div class="text-center">
    <button id="saveBtn" class="btn">Save</button>
    <button id="cancelBtn" class="btn">Cancel</button>
  </div>
</template>