body {
	margin:0;	
}

.user-header-left {
	float:left;
	width:30%;	
}


.user-header-right {
	padding-top:15px;
	float:left;
	width:70%;	
	text-align:right;
}

.user-header-right ul {
	padding:0;
	margin:0;
	list-style:none;
	float:right	
}
.user-header-right ul li {
	padding:0;
	margin:0 20px 0 0;
	float:left;
}

.user-header-right ul li.search-form {
	width:156px;
	position:relative	
}

.user-header-right ul li.search-form input[type="text"] {
	width:156px;
	color:#c9c9c9;	
}

.user-header-right ul li.search-form input[type="text"]:focus {
	color:inherit	
}

.user-header-right ul li.search-form button {
	background:none;
	border:none;
	position:absolute;
	right:0px;
	top:2px;
	
	
}

.user-header-right ul li.notifications {
	padding-left:25px;
	background:url(/images/icons/icon-notification.png) no-repeat left center
		
}
.user-header-right ul li.messages {
	padding-left:25px;
	background:url(/images/icons/icon-messages.png) no-repeat left center	
}
.user-header-right ul li.my-account {
	padding-left:27px;
	background:url(/images/icons/icon-user.png) no-repeat left center;
}

/*breadcrumbs*/
.breadcrumbs { 
	margin-top:15px; 
	 -webkit-border-radius: 5px; 
	 -moz-border-radius: 5px; 
	 border-radius: 5px;
	 border:1px solid #ebebeb;
	 color:#9b9a9a;
	 text-transform:uppercase;
	 font-size:80%;
	 line-height:33px;
	 padding:0 10px;
}
.breadcrumbs ul { padding:0; margin:0; list-style:none; }
.breadcrumbs ul li { 
	padding:0 18px 0 0; 
	margin:0; 
	display:inline-block; 
	background:url(/images/breadcrumbs_separator.png) no-repeat right center  
}