<template name="user_header">
  <div class="user-header">
  	<div class="user-header-left">
    	<a href="/"><img src="/images/zzBase_userLogo.png" /></a>
    </div>
	<div class="user-header-right">
    	<ul>
        	<li class="search-form">
            	<form name="searchForm" id="searchForm">
                    <input type="text" name="search" placeholder="Search" />
                    <button><img src="/images/icons/icon-search.png" /></button>
                </form>
            </li>
            <li class="notifications">
            	Notifications
            </li>
            <li class="messages">
            	Messages
            </li>
            <li class="my-account">
            	User Name
            </li>            
        </ul>
        
        
    </div>
    <div class="clear"></div>
    <div class="breadcrumbs">
    	<ul>
        	<li>Dashboard</li>
        </ul>
    </div>
  </div>
	
</template>
